{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["defaults", "not <0.25%", "not operamini all", "not ie 11", "not android 4.4-4.4.4"]
      },
      "debug": false
    }],
  "stage-2",
  "react"
  ],
  "plugins": [
    "transform-class-properties"
  ]
}